<h1>Menu</h1>
<table class="menu-list">
  
  <tr class="caption">
    <td> </td>
    <td>Name</td>
    <td>Price</td>
  </tr>

  <% @menu_groups.each do | menu_group| -%>
    <tr class="group">
      <td colspan="3"><%= menu_group.name %></td>
    </tr>

    <%= render :partial => 'dish', :collection => menu_group.dishes %>
  <% end %>

</table>
