<h1> Menu </h1>
<table bgcolor="black" cellpadding="0"  cellspacing="1">

<% for menu_item in @menu_items %>

  <% if  !menu_item.dishes.empty? %>
<tr bgcolor="eeeeee">
  <td colspan="2"> Menu item: <%= menu_item.name %>  </td>
</tr>

<tr bgcolor="aaaaaa">
  <td>Name</td>
  <td>Price</td>
</tr>
  <% end %>

  <% for dish in menu_item.dishes %>
<tr bgcolor="white">    
  <td> <%= dish.name %> </td>
  <td> <%= dish.price %> </td>
</tr>
  <% end  %>  
<% end  %>

</table>