table.menu-list {
  width: 800px;
}

table.menu-list .caption {
  background: black;
  color: white;
}

table.menu-list .group {
  background: gray;
  text-align: center;
}

table.menu-list .description {
  font-weight:italic;
  font-size:10px;
}
