<h1>Menu</h1>

<table>
  <tr>
  </tr>

<% for menu_group in @menu_groups %>
  <tr>
    
    <td><%= link_to menu_group.name, menu_group %></td>
    <td><%= link_to 'Edit', edit_menu_group_path(menu_group) %></td>
    <td><%= link_to 'Destroy', menu_group, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New menu group', new_menu_group_path %>
