<html>
<body>

<h1>Our first application</h1>
<div>
  <%= link_to "Home", root_path %>
  <%= link_to "Customers", customers_path %>
  <%= link_to "Dishes", dishes_path %>
</div>


<%= yield  %>

</body>
</html>
